@import 'fonts/pangram-sans-rounded/styles.css';

html {
	height: 100%;
	box-sizing: border-box;
}
body {
	background-color:#6456ab;
	padding-bottom: 200px;
  min-height: 100%;
  position: relative;
	font-family:PP Pangram Sans Rounded Fixed,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

	padding-top: 120px;
}
* {
  border-radius: 5px !important;
}
h1,h2,h3,h4,h5,h6 {
	font-family: unset;
}

#wrap {
	min-height: 100%;
	height: auto;
}
a,
a:hover,
a:focus {
	color: #6456ab;
    text-decoration: none;
}
/* 
front
back #6456ab
butons #ffd403 
boxes #f7f7f7

logged in
back #f0f0f0
boxes #f7f7f7
*/
.navbar-fixed-top {
	position: absolute;	
}


.loggedin .navbar-toggle {
	display: none;
}
.divider-text {
	border-top: 1px solid #797878;
	padding: 3px 14px 0px 14px;
	font-size: 11px;	
	text-align: center;
	margin: 5px;
}
@media (max-width: 100000px) {
  .navbar-header {
    float: none;
  }
  #header .navbar-left,
	#header .navbar-right {
    float: none !important;
  }
  #header .navbar-toggle {
    display: block;
  }
  #header .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  #header .navbar-collapse.collapse {
    display: none !important;
  }
	#header .navbar-collapse.collapse,
	#header .collapsing {
		float: right !important;
		border-top: 0px solid red;
		-webkit-box-shadow: inset 0 0px 0 rgba(255,255,255,0.1);
    box-shadow: inset 0 0px 0 rgba(255,255,255,0.1);
  }
	
	#header .navbar-nav {
		float: right !important;
    margin-top: 14px;
		background-color: #4d3aaf;
  }
  #header .navbar-nav>li {
    float: none;
  }
  #header .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #header .collapse.in{
    display: block !important;
		float: right;
  }
}



/* new menu newmenu */
.navbar-nav .open .dropdown-menu {
	color: white;
	min-width: 234px !important;
	background-color: #4d3aaf;
}
.dropdown-menu>li>a {
  color: white;
	font-size: 16px;
	line-height: 1.5;
}
@media (max-width: 767px) {
	.navbar-nav .open .dropdown-menu {
    position: absolute;
    top: 100%;
    left: auto;
    z-index: 1000;
    float: left;
    min-width: 160px;
		right: 0;
	}	
}
#header .navbar-nav.newmenu {
	margin-right: -1px;
	background-color: #6456ab;
}

.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:hover, 
.dropdown-menu>.active>a:focus {
  background-color: #5942d0 !important;
}
.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus {
  background-color: #6e5fb7 !important;
}
.loggedout .navbar-default .navbar-nav > li > a, 
.loggedout .navbar-default .navbar-nav > li > a:hover, 
.loggedout .navbar-default .navbar-nav > li > a:focus {
	background-color: #6456ab !important;
}
.loggedin .navbar-default .navbar-nav > li > a, 
.loggedin .navbar-default .navbar-nav > li > a:hover, 
.loggedin .navbar-default .navbar-nav > li > a:focus {
	background-color: #f0f0f0 !important;
}
.newmenu .glyphicon {
	font-size: 24px;
}
.loggedin .newmenu .glyphicon {
	color: #6456ab;
}
.dropdown-menu p {
	margin: 3px 0;
}

/*******************
*   general
*/

.loggedin .loginhide {
	display: none;
}
.loggedout .logouthide {
	display: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #6456ab;
}
		
.alert {
  border: 1px solid transparent;
  border-radius: 0px;
}
.loggedout .alert-top {
	margin: 0 auto;
	max-width: 600px;
}
@media (max-width: 667px) {
	.loggedout .alert-top {
		margin: 0 15px;
	}
}
.modal-content {
	border-radius: 0px;
	box-shadow: none;
}
.modal-open .modal {
	background: rgba(0, 0, 0, 0.7);
}
.modal-dialog {
  max-width: 800px;
	width: auto;
}
#openWallet > .row > .row > div {
	padding: 0;
}
.topPanel .panel {
  border: 0;
  box-shadow: unset;
}
.topPanel .panel h4{
  display: flex;
  margin-top: 0;
  margin-bottom: 4px;
}
.topPanel .panel h4 *{ 
  padding-left: 1px;
  padding-right: 1px;
}
.topPanel .panel p {
  line-height: 1.5;
  color: #888;
  margin: 0;
}
.topPanel {
	/*padding: 0;*/
}
.topPanel .panel {
    /*height: 90px;*/
}

.topPanel .panel .glyphicon{
  color: gray;
}
.topPanel .panel .glyphicon-arrow-up{
  color: green;
}
.topPanel .panel .glyphicon-arrow-down{
  color: red;
}


.topPanel .walletLogout {
  position: absolute;
  right: 25px;
}
.walletEmail {
  /*
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 240px;
  */
}


/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .topPanel #coin_price {
    flex: 50%;
    justify-content: space-between;
  }
  .topPanel #coin_price div {
    margin: 3px 30px;
  }
}

/* On screens that are 500px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .topPanel #coin_price {
    flex-direction: column;
  }
}
.topPanel .coinPrice .market_down {
  font-size:14px;
  line-height: 1.5;
  }

.topPanel .priceTracking {
  display: flex;
}
.topPanel .coinPrice #coin_price {
  display: flex;
}
.topPanel #coin_price{
  flex-wrap: wrap;
}
.topPanel #coin_price div {
  padding: 3px;
  margin: 2px 2px;
}




  .topPanel .walletEmail {
overflow: hidden;
display: block;
text-overflow: ellipsis;
position: relative;
top: 0;
left: 0;
max-width: calc(100% - 40px);

/*
overflow: hidden;
display: block;
text-overflow: ellipsis;
position: absolute;
top: 15px;
left: 52px;
max-width: calc(100% - 100px);
*/
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}


.button-checkbox .btn-flatbay {
	margin: 0 auto;
	display: block;
}
.btn-flatbay {
  display: inline-block;
  padding: 13px 60px;
  background-color: #ffd402;
  -webkit-transition: box-shadow 260ms ease;
  transition: box-shadow 260ms ease;
  color: #333;
  font-size: 16px;
	font-weight: 500;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
	border: none;
	border-radius: 0px;
}
@media (max-width: 400px){
	.btn-flatbay {
	  padding: 13px 20px;
	}
}
.btn-flatbay:hover {
  box-shadow: 6px 6px 0 0 rgba(0, 0, 0, .14);
}
.btn-flatbay-inactive {
	background-color: #ecebeb;
}
.btn-flatbay-inactive:hover {
	box-shadow: none;
}
.btn-flat-purple,
.showKey,
.btn-flat {
	background-image: none;
	border: none;
	background-color: transparent;	
}
.btn-flat-purple {
	color: #6456ab;	
	font-weight: 500;
}
.showKey,
.showKey:focus {
	border: 1px solid white;
	border-radius: 0px;	
	background: white;
}

/*
*    general 
*******************/


/*******************
*  front log in 
*/

.loggedout #wallet > .row > div {
	padding: 0;	
}

#wallet .panel-balance label {
	display: inline;
	font-weight: normal;
    line-height: 26px;
}

#wallet label a {
	font-weight: 500;
}
.navbar-brand,
no#header {
	display: none;
}

.form-signin {
	background-color: #f7f7f7;
	max-width: 600px;
  margin: 0 auto;
  padding: 40px 70px 40px 70px;	
}
.form-signin label {
  cursor: pointer;
}
@media (max-width: 550px){
	.form-signin {
	  padding: 40px 20px;	
	}
	.form-control, .input-group {
		margin-bottom: 10px;
	}
}
.form-wallettype {
	display: none;
	margin: 0 0 30px 0;
}
.form-wallettype a {
	display: inline-block;
	width: 49%;
	text-align: center;	
	color: #9e9e9e;
	font-size: 24px;
	font-weight: 500;
	text-decoration: none;
}
.form-wallettype a.active {
	color: #6456ab;
}
.form-openWalletType {
	display: none;
}
.walletnotice {
	margin: 20px 0;	
}
.walletnotice p {
	margin: 0
}
.form-notice {
	font-weight: 400;
}
input[type="checkbox"] {
	margin: 0 5px 0 0;
}

/*custom styled checkbox and radio 
.radio,
.checkbox {
  padding-left: 20px;
  position: relative;
  display: block;
}
.radio input,
.checkbox input {
  opacity: 0;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  margin-left: -20px;
}
.radio input:checked + label::before,
.checkbox input:checked + label::before {
  border-color: #9575cd;
}
.radio input:checked + label::after,
.checkbox input:checked + label::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 13px;
  height: 13px;
  left: 2px;
  top: 4px;
  margin-left: -20px;
  border: 1px solid #9575cd;
  border-radius: 50%;
  background-color: #9575cd;
}
.radio label,
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
.radio label::before,
.checkbox label::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  top: 0;
  margin-left: -20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}
.radio.disabled label,
.checkbox.disabled label {
  color: #ccc;
}
.radio.disabled label::before,
.checkbox.disabled label::before {
  opacity: 0.54;
  border-color: #ccc;
}
.checkbox input:checked + label::before {
  border-color: #9575cd;
  background-color: #9575cd;
}
.checkbox input:checked + label::after {
  content: "\2713";
  font-size: 13px;
  color: #fff;
  top: -4px;
  left: 3px;
  border-color: transparent;
  background-color: transparent;
}
.checkbox label::before {
  border-radius: 2px;
}
*/
/*
https://codepen.io/cesque/pen/QxjyKR
*/
label {
  /*display: flex;
  flex-direction: row;
  */
  display: block;
  align-items: center;
  padding: 5px 0;
}
label > a {
padding: 0 3px 0 3px;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative !important;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0 6px 0 0;
  box-sizing: content-box;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  top: -1px;
  cursor: pointer;

}
input[type="radio"]:before,
input[type="checkbox"]:before {
  content: '';
  display: block;
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  transition: 0.2s border-color ease;
}
input[type="checkbox"]:checked:before {
  border-color: #9575cd;
  transition: 0.5s border-color ease;
}
input[type="radio"]:disabled:before,
input[type="checkbox"]:disabled:before {
  border-color: #ccc;
  background-color: #ccc;
}
input[type="radio"]:after,
input[type="checkbox"]:after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: content-box;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  background-color: #9575cd;
  width: 16px;
  height: 16px;
  border-radius: 100vh;
  transform: translate(-50%, -50%) scale(0);
}
input[type="radio"]:before {
  border-radius: 100vh;
}
input[type="radio"]:after {
  width: 16px;
  height: 16px;
  border-radius: 100vh;
  transform: translate(-50%, -50%) scale(0);
}
input[type="radio"]:checked:after {
  -webkit-animation: toggleOnRadio 0.2s ease forwards;
          animation: toggleOnRadio 0.2s ease forwards;
}
input[type="checkbox"]:before {
  border-radius: 4px;
}
input[type="checkbox"]:after {
  width: 9.6px;
  height: 16px;
  border-radius: 0;
  transform: translate(-50%, -85%) scale(0) rotate(45deg);
  background-color: transparent;
  box-shadow: 4px 4px 0px 0px #9575cd;
}
input[type="checkbox"]:checked:after {
  -webkit-animation: toggleOnCheckbox 0.2s ease forwards;
          animation: toggleOnCheckbox 0.2s ease forwards;
}
input[type="checkbox"].filled:before {
  border-radius: 4px;
  transition: 0.2s border-color ease, 0.2s background-color ease;
}
input[type="checkbox"].filled:checked:not(:disabled):before {
  background-color: #12CBC4;
}
input[type="checkbox"].filled:not(:disabled):after {
  box-shadow: 4px 4px 0px 0px white;
}
@-webkit-keyframes toggleOnCheckbox {
  0% {
    opacity: 0;
    transform: translate(-50%, -85%) scale(0) rotate(45deg);
  }
  70% {
    opacity: 1;
    transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
  }
  100% {
    transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
  }
}
@keyframes toggleOnCheckbox {
  0% {
    opacity: 0;
    transform: translate(-50%, -85%) scale(0) rotate(45deg);
  }
  70% {
    opacity: 1;
    transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
  }
  100% {
    transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
  }
}
@-webkit-keyframes toggleOnRadio {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  70% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.8);
  }
}
@keyframes toggleOnRadio {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  70% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.8);
  }
}





.form-submit {
	text-align: center;
	padding: 25px 0 0 0;
}
.underterms {
	padding: 5px 10px;
	font-weight: 500;
	background: red;
	color: white;	
	margin: 10px 0;
	text-align: center;	
}
.danger-area {
	background: whitesmoke;
}
.danger-area h2 {
	color: red;	
	margin: 0 10px;
}
.unconfirmed {
	border: 1px solid red !important;
}
#errormessages {
	color: red;
	font-weight: bold;
	text-align: center;
}


.message {
	padding-top: 10px;
	color: white;	
  position: absolute;	
	text-align: center;
	width: 100%;
}
.message .glyphicon,
.message label {
	color: #FF9800;	
	font-weight: bold;
}
.message-inner {
	width: 500px;
	display: block;
  margin: 0 auto;	
}
/*
*  front log in 
*******************/


/*******************
*   logged in 
*/

.ui-pnotify {
	top: 25px;
	right: 25px;
}
body.loggedin {
	background-color:#f0f0f0;
}
.loggedin .navbar-toggle {
	display: none !important;
}
#header {
	background: transparent;
  border: transparent;
  box-shadow: none;	
}
.loggedin #header {
	display: block;
  background: #f0f0f0;
}
.loggedin #header .container-fluid {
	width: 100%;
	padding: 0;
}
.loggedin .navbar-brand {
	display: block;
}
.navbar-header {
	width: 100%;
	margin: 0px !important;
}
.top-status {
	display: none;
	float: right;
	margin: 15px;
	text-align: right;
	overflow-wrap: break-word;	
	max-width: 150px;
}
.top-status p {
	margin: 0;
	padding: 0;
}
.top-status a {
	color: black;
	font-size: 14px;
	display: block;
}

.color-link {
	color: #6456ab !important;
	font-weight: 900;
}
.navbar-brand {
  height: auto;
  margin-left: 0px !important;
}
@media (min-width: 430px){
	.navbar-brand img.large {
		height: 55px;
	}
	.navbar-brand img.small {
		display: none;
	}
}
@media (max-width: 429px){
	.navbar-brand img.large {
		display: none;
	}
	.navbar-brand img.small {
		height: 45px;
	}
}
.loggedin #content {
  padding-top: 70px;	
}
#openWallet .tab-content {
	background-color: #f7f7f7;	
	padding: 10px;
}
@media (max-width: 420px){
	#openWallet .tab-content {
		padding: 0px;
	}
}
.nav-tabs {
  border-bottom: 0px solid #dddddd;
}
.nav-tabs>li>a,
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
	background-color: transparent;
	border: 1px solid #f0f0f0;
	border-radius: 0px;
	color: #9e9e9e;
	font-weight: 500;
	font-size: 17px;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
	color: #6456ab;
}
.nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent;
}		
.nav-tabs>li>a:hover {
  border-color: transparent;
}
.backuptext .warning {
	color: red;
}
.backupfunctions,
#walletKeys {
	margin-top: 20px;
}
.backupfunctions a {
	font-weight: bold;
}
#walletKeysCopy label,
#walletKeys label {
	margin-top: 15px;
	display: block;
}
#walletKeys label:first-child {
	margin-top: 0px;
}
#walletKeys input {
	/*margin-bottom: 10px;*/
}
#walletKeys .share-yes {
	display: none;
}
.form-control[disabled].can-copy, 
.form-control[readonly].can-copy, 
fieldset[disabled] .form-control.can-copy {
  cursor: text;
}		

.walletSpendRadioButton {
    margin-right: 10px !important;
}
#walletSpendTo {
	margin-bottom: 15px;
}
#walletSpendTo .form-horizontal {
	margin-bottom: 3px;
	position: relative;
}
#walletSpendTo .form-horizontal br {
	display: none;
}
@media (min-width: 769px){
	#walletSpendTo .form-horizontal {
    margin-bottom: 3px;
	}
	#walletSpendTo .form-horizontal:before,
	#walletSpendTo .form-horizontal:after {
	  content: " ";
	  display: table;
	}
	#walletSpendTo .form-horizontal:after {
	  clear: both;
	}
	#walletSpendTo label {
		display: none;
	}
	#walletSpendTo > div:first-child label {
		display: block;
	}
}
#walletSpendType label {
  display: inherit /*inline-block*/;
}
@media (max-width: 768px){
	#walletSpendTo .form-horizontal {
    margin-bottom: 20px;
		padding: 10px 0;
		border-bottom: 1px solid #f1eded;
	}
	#walletSpendTo > div:nth-child(even) {
		background-color: #fbfbfb;		
	}
	.addressRemove,
	.addressAdd {
		position: absolute;
		top: 10px;
		left: 76px;
	}
}
.form-send-buttons button {
	margin-right: 20px;
}

.form-group {
  margin-bottom: 10px;
}
.form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0px;
	border: 1px solid #ffffff;
}
.form-control:focus {
  border: 1px solid #6456ab;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-group-addon {
	background-color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 0px;	
}
.input-group .form-control {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.input-group .input-group-btn,
.input-group .input-group-btn *,
.input-group .input-group-addon,
.input-group .input-group-addon * {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.form-control[readonly] {
	background-color: #ffffff;	
}
.walletnotice {
	font-weight: 300;	
	padding-left: 70px;
	background: transparent url("../images/info.png") left center no-repeat scroll;
	background-size: 50px;
}

/*
*   logged in 
*******************/

/*******************
*   warning 
*/

#warning {
	padding: 15px !important;
} 

#warning > div {
	background-color: #f79595;
	padding: 20px;
}

/*
*   warning 
*******************/

/*******************
*   balance panel 
*/

.panel-right {
	margin-top: 45px;
}
.panel-qrcode .panel-heading,
.panel-qrcode,
.panel-balance {
  border-color: transparent;
  border-radius: 0;
  box-shadow: none;
  background: #f7f7f7;
}
.panel-balance .panel-body {
	padding: 25px;
}
.panel-balance .panel-body > a {
	font-weight: 500;
}
.panel-balance label {
	font-weight: 300;
}
#walletBalance {
	font-weight: 500;
	font-size: 20px;
	color: black;
}
#walletBalanceLiquid {
	font-weight: 500;
	font-size: 24px;
	color: #2da5e0;
}
#walletBalanceReserve {
	font-weight: 500;
	font-size: 24px;
	color: #c06a15;
}
#walletBalanceFrozen {
	font-weight: 500;
	font-size: 24px;
	color: #808080;
}

.panel-qrcode {
	display: none;
}

.aTab-walletKeysTab .panel-qrcode {
	display: block;
}
.aTab-walletKeysTab .panel-balance {
  display: none;
}
  
/*
*   balance panel 
*******************/


/*******************
*    footer 
*/

#footer {
	background-color: #f7f7f7;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
#footer a {
	color: #999999;
	text-decoration: none;
}

.footer-inner {
	margin: 0 auto;
	padding: 15px;
	text-align: center;
}
.footer-inner > p,
.social-icon-group {
	padding: 10px;
	margin: 10px;	
}


.social-icon-group a {
	margin: 0 2px;
	color: #999999;
}
.social-icon-group img {
	width: 25px;
	height: auto; 
}
@media (min-width: 450px){
	.social-icon-group a {
		margin: 0 6px;
	}
	.social-icon-group img {
		width: 30px;
	}
}
/*
*    footer 
*******************/




.alert {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
}
/* Custom */
.glyphicon-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}

.handle {
  padding-left: 15px;
  font-size: 20px;
}

#walletQrCode {
	display: inline-block;
}
.tab-pane{
	padding: 15px;
}

.tab-content {
	padding-top: 0px;
}
.tab-content.active:not(#wallet),
.loggedout .tab-content.active {
	background: #f7f7f7;
	padding: 20px 30px 20px 30px;
}
.loggedout #wallet.tab-content.active {
	background: transparent;
	/*background: #6e5fb7;*/
}
#switcher-container {

}

/*Navbar Login */
.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}
.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.icon-size {
  font-size: 85px;
}

.bootstrap-datetimepicker-widget,  
.bootstrap-datetimepicker-widget > div {
	display: block !important;
	margin: 0;
	padding: 0;
}

#openLogin {
  padding: 0;
}

/* Wallet & Balance Column */
.balanceLabel {
  
}
.balanceLabel > label {
 /*border:2px solid green; */
 color: #888;
}
.balanceLabel > a {
 /*border:2px solid red; */
 position: relative;
 top: -.2rem;
}
#walletLoader {
  position: relative;
  top: -.2rem;
}

#walletAddressExplorer {
  word-wrap: break-word;
}

/*Dynamic Peg Pie Chart*/

.pie-chart-CSS {
  display: none;
  border-radius: 50%;
  height: var(--chartsize, 200px);
  width: var(--chartsize, 200px);
  background: transparent;
  box-shadow: inset 0px 0px 1px calc(var(--chartsize, 200px) / 30) rgba(250, 250, 220, 0.3), 0px 2px 8px -1px rgba(0, 0, 0, 0.3);
  margin-bottom: 2vh;
}

.panel-balance .pie-legend-item-color {
  display: inline-block;
  height: 1.25em;
  width: 1.25em;
  border-radius: 2px;
  margin-right: .5vw;
  background-color: #f0c330;
  position: relative;
  top: 0.6vh;
}
div.balanceLabel:nth-child(6) label {
  color: #c06a15;
}
div.balanceLabel:nth-child(5) .pie-legend-item-color{
  background-color: #2da5e0;
}
div.balanceLabel:nth-child(5) label{
  color: #2da5e0;
}

div.balanceLabel:nth-child(7) .pie-legend-item-color{
  background-color: #808080;
}
div.balanceLabel:nth-child(7) label{
  color: #808080;
}

.panel-balance hr {
  margin-top: 0;
}


/*****
https://codepen.io/githiro/pen/xABCi
*******/

.chart {
	position: relative;
	height: var(--chartsize, 25rem);
	width: var(--chartsize, 25rem);
	top: -3vh;
	margin-bottom: 2vh;
	margin: 0 auto;
}

.pieTip {
  position: absolute;
  float: left;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 18px 6px;
  border-radius: 5px;
  background: rgba(255,255,255,.97);
  color: #444;
  font-size: 14px;
  text-shadow: 0 1px 0 #fff;
  text-align: left;
  /*
  line-height: 1.3;
  letter-spacing: .06em;
  */
  box-shadow: 0 0 3px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.5);
  -webkit-transform: all .3s;
     -moz-transform: all .3s;
      -ms-transform: all .3s;
       -o-transform: all .3s;
          transform: all .3s;
  pointer-events: none;
}
.pieTip:after {
      position: absolute;
      left: 50%;
      bottom: -6px;
      content: "";
      height: 0;
      margin: 0 0 0 -6px;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-top: 6px solid rgba(255,255,255,.95);
      line-height: 0;
}
.chart path { cursor: pointer; }

/* broadcasting progress bar*/
#modalWalletConfirm .modal-dialog{
max-width: 600px;
}
.broadcast-process {
    background-color: #3a3a3a;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    min-width: 200px;
    max-width: 100%;
    margin: 40px auto;
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;    
    position: relative;
}

.broadcast-process > div:nth-child(2){
    color: #888;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: -2.1rem;
    
}
.broadcast-process > div:nth-child(3) {
    color: #888;
    font-size: 14px;
    position: absolute;
    left: 0;
    padding-top: .6rem;
}

.broadcast-process > .broadcast-process-bar {
    color: #888;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: -2.1rem;
    font-weight: 600;
}


  

/*icons*/
.glyphicon.glyphicon-heart {
  color: #c60000;
}

/*show/hide sections for different pages*/
.aTab-network .networkTopPanel {
  display: block !important;
}

/*Manual Transactions - Tx Inputs*/
#inputs .row.inputs div{
  padding: 5px;
}
#inputs .row.inputs div:first-child {
}

#inputs .row.inputs div:last-child > div:last-child {
  padding-top:  12px;
}
#inputs .row.inputs div.col-xs-3:last-child,
#txinputs .row div.col-xs-3:last-child {
  padding: unset;
}
#txinputs .row div.col-xs-3:last-child div{
padding-left: 5px;
}
#txinputs > div:nth-child(2) > div:nth-child(6) > div:nth-child(1) {
	padding-left: 10px;
}
#txinputs > div:nth-child(2) > div:nth-child(6) > div:nth-child(2) {
	padding-left: 10px;
}
#txinputs .row div.col-xs-3:last-child div:last-child{
padding-left: 0;
}

#txoutputs .row.recipient > div:last-child {
	padding-top:  8px;
}

/*nanobar*/
.nanobar-progress {
margin: 0;

/*
background: #fff;
float: left;
width: 50%;
*/
box-sizing: border-box;
}
.nanobar-progress .nanobar{
margin-bottom: 20px;
}

.nanobar-progress .nanobar .bar {
background: #38f;
border-radius: 4px;
box-shadow: 0 0 10px #59d;
height: 20px;
margin: 0;

box-shadow:  0 1px 0 rgba(255, 255, 255, .5) inset;

}